<div class="main-panel">
    <div class="panel panel-success" style="color:green">
        <div class="panel-heading" style="text-align:center">
            <h2>All Courses</h2>
        </div>
            <div class="container" style="width:100%"> 
                <table class="table table-bordered" id="myTable">
                    <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Program Name</th>
                            <th>Instructor’s Name</th>
                            <th>Room Number</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Class Start Time</th>
                            <th>Class End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Introduction to Web Development</td>
                            <td>Software Developer</td>
                            <td>John</td>
                            <td>901</td>
                            <td>September 7, 2018</td>
                            <td>October 1st, 2018 </td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr class="success">
                            <td>Technical Writing Skills</td>
                            <td>Software Developer</td>
                            <td>John</td>
                            <td>901</td>
                            <td>September 7, 2018</td>
                            <td>November 5th, 2018</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr class="danger">
                            <td>Javascript Basics</td>
                            <td>Software Developer</td>
                            <td>John</td>
                            <td>901</td>
                            <td>October 2nd, 2018</td>
                            <td>October 30th, 2018</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr class="info">
                            <td>Object Oriented Javascript</td>
                            <td>Software Developer</td>
                            <td>John</td>
                            <td>901</td>
                            <td>October 31st, 2018</td>
                            <td>November 23rd, 2018</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr class="warning">
                            <td>Communication and Presentation Skills</td>
                            <td>Software Developer</td>
                            <td>John</td>
                            <td>901</td>
                            <td>November 6th, 2018</td>
                            <td>January 11th, 2019</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr class="active">
                            <td>Tools And Automation</td>
                            <td>Software Developer</td>
                            <td>John</td>
                            <td>901</td>
                            <td>November 26th, 2018</td>
                            <td>December 10th, 2018</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr>
                            <td>Offline First Applications using Javascript</td>
                            <td>Software Developer</td>
                            <td>John</td>
                            <td>901</td>
                            <td>December 11th, 2018</td>
                            <td>January 7th, 2018</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr class="success">
                            <td>Javascript Testing</td>
                            <td>Software Developer</td>
                            <td>John</td>
                            <td>901</td>
                            <td>January 8th, 2019</td>
                            <td>January 14th, 2019</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr class="danger">
                            <td>Introduction to React</td>
                            <td>Software Developer</td>
                            <td>John</td>
                            <td>901</td>
                            <td>January 15th, 2019</td>
                            <td>February 1st, 2019</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr class="info">
                            <td>Personal Brand and Caree Management</td>
                            <td>Software Developer</td>
                            <td>John</td>
                            <td>901</td>
                            <td>January 14th, 2019</td>
                            <td>February 1st, 2019</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr class="warning">
                            <td>Problem Solving and Programmatic Logic</td>
                            <td>Software Developer</td>
                            <td>Gui</td>
                            <td>902</td>
                            <td>February 4th, 2019</td>
                            <td>April 3rd, 2019</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr class="active">
                            <td>Introduction to MVC</td>
                            <td>Software Developer</td>
                            <td>Gui</td>
                            <td>902</td>
                            <td>February 4th, 2019</td>
                            <td>February 12th, 2019</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr>
                            <td>Object Oriented Programming in C#</td>
                            <td>Software Developer</td>
                            <td>Gui</td>
                            <td>902</td>
                            <td>February 13th, 2019</td>
                            <td>February 28th, 2019</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr class="success">
                            <td>Applied MVC Concepts I</td>
                            <td>Software Developer</td>
                            <td>Gui</td>
                            <td>902</td>
                            <td>March 1st, 2019</td>
                            <td>March 20th, 2019</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr class="danger">
                            <td>Applied MVC Concepts II</td>
                            <td>Software Developer</td>
                            <td>Gui</td>
                            <td>902</td>
                            <td>March 21st, 2019</td>
                            <td>May 6th, 2019</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr class="info">
                            <td>Applied MVC Concepts II</td>
                            <td>Software Developer</td>
                            <td>Gui</td>
                            <td>902</td>
                            <td>March 21st, 2019</td>
                            <td>May 6th, 2019</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr class="warning">
                            <td>Mathematics for Computing</td>
                            <td>Software Developer</td>
                            <td>Gui</td>
                            <td>902</td>
                            <td>April 4th, 2019</td>
                            <td>May 28th, 2019</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr class="active">
                            <td>Enterprise Software I</td>
                            <td>Software Developer</td>
                            <td>Gui</td>
                            <td>902</td>
                            <td>May 7th, 2019</td>
                            <td>May 27th, 2019</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                        <tr>
                            <td>Enterprise Software II</td>
                            <td>Software Developer</td>
                            <td>Gui</td>
                            <td>902</td>
                            <td>May 28th, 2019</td>
                            <td>June 13th, 2019</td>
                            <td>8:45am</td>
                            <td>3:15pm</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>