
@{
    ViewBag.Title = "AllPrograms";
}

    <div class="main-panel">
        <div class="panel panel-success" style="color:green">
            <div class="panel-heading" style="text-align:center">
                <h2>All Programs</h2>
            </div>
            <div class="container" style="width:100%">
                <table class="table table-bordered" id="myTable">
                    <thead>
                        <tr>                           
                            <th>Program</th>
                            <th>CREDENTIAL</th>
                            <th>DURATION</th>
                            <th># Courses</th>
                            <th>Start</th>
                            <th>End</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="info">
                            <td><a href="@Url.Action("AllCourses","Home")">Software Developer A</a></td>
                            <td>Diploma</td>
                            <td>1year</td>
                            <td><a href="@Url.Action("AllCourses","Home")">19</a></td>
                            <th>Jan 4 2019</th>
                            <th>Dec 12 2019</th>
                        </tr>
                        <tr class="success">
                            <td>CYBER DEFENCE AND CLOUD ADMINISTRATION</td>
                            <td>Diploma</td>
                            <td>2years</td>
                            <td>18</td>
                            <th>Jan 4 2019</th>
                            <th>Dec 15 2020</th>
                        </tr>
                        <tr class="danger">
                            <td>CCENT AND CCNA CISCO</td>
                            <td>Certificate</td>
                            <td>7Weeks</td>
                            <td>4</td>
                            <th>SEP 1 2019</th>
                            <th>NOV 1 2019</th>
                        </tr>                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

