
@{
    ViewBag.Title = "RoomReport";
}

<div class="main-panel">
    <div class="panel panel-success" style="color:green">
        <div class="panel-heading" style="text-align:center">
            <h2>Room Report</h2>
        </div>
        <div class="container" style="width:100%">
            <table class="table table-bordered" id="myTable">
                <thead>
                    <tr>
                        <th>Room</th>
                        <th>June 10</th>
                        <th>June 11</th>
                        <th>June 12</th>
                        <th>June 13</th>
                        <th>June 14</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
                        <td>900</td>
                        <td>9a Advance Cicsco Admin(Deen)</td>
                        <td>9a Advance Cicsco Admin(Deen)</td>
                        <td>9a Advance Cicsco Admin(Deen)</td>
                        <td>9a  Advance Cicsco Admin(Divid<br>
                            14p Workplace Security
                        </td>
                        <td></td>
                    </tr>
                    <tr class="success">
                        <td>901</td>
                        <td>
                            9a ENTERPRISE SOFTWARE II(Gui) <br />
                            15:30p Develope your carrier(Micle)
                        </td>
                        <td>
                            9a ENTERPRISE SOFTWARE II(Gui)
                            <br />
                            15:30p Develope your carrier(Micle)
                        </td>
                        <td>9a ENTERPRISE SOFTWARE II(Gui)</td>
                        <td>
                            9a ENTERPRISE SOFTWARE II(Gui)<br />
                            13p Final Test for SD <br />
                       
                            15 p Pizza lunch for SD
                        </td>
                        <td></td>
                    </tr>
                    <tr class="danger">
                        <td>902</td>
                        <td>9a Cloud plaform security(Shell)</td>
                        <td></td>
                        <td>9a Cloud plaform security(Shell)</td>
                        <td></td>
                        <td>9a Cloud plaform security(Shell)<br />
                            13p Manitoba Cisco offical Exam 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


