body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.button-style {
    background: none;
    color: red;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.login-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    width: 450px;
    margin: auto;
    border-radius: 5px;
    background: white;
    padding: 25px;
    box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.75);
}

.login-image {
    border-radius: 5px;
    text-align: center;
    padding: 50px;
    color: white;
    font-size: 24px;
    background: #34495e
}

.input {
    width: 100%;
    outline: none;
}

.input-form {
    text-align: center;
}

label {
    display: block;
    text-align: center;
    margin: 10px;
}

input[type=text],
input[type=password],
input[type=email],
.caleder {
    width: 80%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type = checkbox] {
    width: 24px;
    height: 24px;
    border: 2px double #fc0000;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

input[type=submit] {
    width: 20%;
    padding: 12px;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    background: #27ae60;
}

input:focus {
    outline: none;
    border: 0;
    border-radius: 0;
    border-bottom: 1.5px solid green;
}
